h1 {
  margin-left: 10px;
  text-align: left;
}

.menu a {
  padding: 5px;
}

.Stock {
  text-align: center;
}

header {
  text-align: left;
  margin: 5px;
}

header a {
  color: white;
  margin: 5px;
}

header a:hover {
  text-decoration: none;
}

.home {
  left: 50%;
  margin: 200px;
}

.home h1 {
  text-align: center;
  position: relative;
  font-size: 64px;    
  margin: 20px;
}

.search {
  width: 500px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -240px;  
}

.search button:hover {
  color: black;
}

input {
  border-radius: 10px;
  background: transparent;
  border: none;
  outline: none;
}

/* .logo-btn {
}

.stock-btn {

} */

.list {
  float: left;
}

.statistics {
  float: right;
  max-width: 350px;
  background-color: #e0e0e0;
  color: #170f11;
  border-radius: 10px;
  position: absolute;
  width: 22%;
  height: 40%;
  font-size: 24px;
  left: 55%;
  top: 55%;
}

.company {
  float: right;
  max-width: 350px;
  background-color: #e0e0e0;
  color: #170f11;
  border-radius: 10px;
  position: absolute;
  width: 50%;
  height: 40%;
  font-size: 20px;
  left: 22.5%;
  top: 55%;
}

h2 {
  border-bottom: 2px solid #7d817ebb;
}

body {
  background-color: #171738;
  font-size: 36px;
  color: #e0e0e0;
  text-align: center;
  font: "sans";
}

.Stock {
  position:relative;
  width: 60vw;
  height: 90vh;
  left: 20%;
  border-radius: 10px;
  box-shadow: 2px;
  background-color: #170f11;
  padding: 20px;
}

svg {
  position: fixed; /* or absolute */
  left: 30%;
  background-color: #e0e0e0;
  color: #2e1760;
  border-radius: 10px;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
}

.active {
  color:white;
}

button:hover {
  color:white;
}

button {
  color: grey;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  outline: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

button:focus {
  outline:0;
}

.area {
  fill: #4c9f70
}
