h1 {
  margin-left: 10px;
  text-align: left;
}

.menu a {
  padding: 5px;
}

header {
  text-align: left;
  background-color: #0e090b;
  margin-bottom: 20px;
  padding: 5px;
}

header a {
  color: white;
  margin: 5px;
}

header a:hover {
  text-decoration: none;
}

.home {
  left: 50%;
  margin: 200px;
}

.home h1 {
  text-align: center;
  position: relative;
  font-size: 64px;    
  margin: 20px;
}

.search {
  width: 500px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -240px;  
}

.search button:hover {
  color: black;
}

input {
  border-radius: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.error {
  width: 600px;
  height: 300px;
  background-color: #0e090b;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.list {
  float: left;
}

.statistics {
  background-color: #0e090b;
  color: #e0e0e0;
  font-size: 24px;
  margin: 30px;
  padding: 20px;
  max-width: 350px;
  min-width: 250px;
  height: 350px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.company {
  background-color: #0e090b;
  color: #e0e0e0;
  font-size: 20px;
  margin: 30px;
  padding: 20px;
  max-width: 400px;
  min-width: 250px;
  height: 350px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  white-space: nowrap;
  overflow: auto;
  white-space: initial;
}

h2 {
  border-bottom: 2px solid #7d817ebb;
}

h2 {
  border-bottom: 2px solid #7d817ebb;
}

body {
  background-color: #0f0f0f;
  font-size: 36px;
  color: #e0e0e0;
  text-align: center;
  font: "sans";
}

.Stock {
  max-width: 900px;
  max-height: 500px;
  background-color: #0e090b;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-align: center;
}

svg {
  background-color: #0e090b;
  color: #2e1760;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
}

.active {
  color:white;
}

button:hover {
  color:white;
}

button {
  color: grey;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  outline: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

button:focus {
  outline:0;
}

.area {
  fill: #4c9f70
}

.search-header {
  display: inline-block;
  position: relative;
  left: 70%;
}

.hover-text {
  cursor: default;
  background-color: white;
}

.signin {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #0e090b;
  width: 300px;
  height: 600px;
  padding: 20px;
}

.signin input {
  background-color: white;
  margin: 30px;
}

.signin button {
  border-style: solid;
  margin-top: 20px; 
}

footer a{
  color: #e0e0e0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 114.2857142857143%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.peers-card {
  background-color: #0e090b;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 10px;
  margin: 10px;
  font-size: 24px;

}

.peers-card span {
  margin: 5px;
}

