h1 {
  margin-left: 10px;
  text-align: left;
}

.menu a {
  padding: 5px;
}

header {
  text-align: left;
  background-color: #0e090b;
  margin-bottom: 20px;
  padding: 5px;
}

header a {
  color: white;
  margin: 5px;
}

header a:hover {
  text-decoration: none;
}

.home {
  left: 50%;
  margin: 200px;
}

.home h1 {
  text-align: center;
  position: relative;
  font-size: 64px;    
  margin: 20px;
}

.search {
  width: 500px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -240px;  
}

.search button:hover {
  color: black;
}

input {
  border-radius: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.Error {
  width: 500px;
}

.list {
  float: left;
}

.statistics {
  background-color: #0e090b;
  color: #e0e0e0;
  border-radius: 10px;
  font-size: 24px;
  margin: 30px;
  padding: 20px;
  max-width: 350px;
  min-width: 250px;
  height: 350px;
  box-shadow: 5px 5px 5px black;
}

.company {
  background-color: #0e090b;
  color: #e0e0e0;
  border-radius: 10px;
  font-size: 20px;
  margin: 30px;
  padding: 20px;
  max-width: 400px;
  min-width: 250px;
  height: 350px;
  box-shadow: 5px 5px 5px black;
}

h2 {
  border-bottom: 2px solid #7d817ebb;
}

body {
  background-color: #0f0f0f;
  font-size: 36px;
  color: #e0e0e0;
  text-align: center;
  font: "sans";
}

.Stock {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  background-color: #0e090b;
  padding: 20px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

svg {
  background-color: #0e090b;
  color: #2e1760;
  border-radius: 10px;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
}

.active {
  color:white;
}

button:hover {
  color:white;
}

button {
  color: grey;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  outline: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

button:focus {
  outline:0;
}

.area {
  fill: #4c9f70
}

.search-header {
  display: inline-block;
  position: relative;
  left: 70%;
}